<h1>Send your transaction now</h1>
<button id='sendTx'>Click here</button>
<p>or send it manually with this data : ...</p>
<p>to : {{{ tx.receiver }}}<p>
<p>value : {{ tx.value }}</p>
<p>data : {{ tx.data }}</p>

<script>const tx = {{{ txString }}}</script>
