<div class="jumbotron">
	<h1 class="display-10">Congrats !</h1>
	<hr class="my-4">
	<p class="card-text">Share the pool to your contributors with this link :</p>
	<input type="text" value="{{url}}" class="form-control" readonly>
	<hr class="my-4">
	<p class="lead">
		<a href="/pools" class="btn btn-primary btn-lg" id="poolsSuccessLink">Go to Dashboard</button></a>
		<a href="/new" class="btn btn-primary btn-lg">Create a Pool</button></a>
	</p>
</div>