<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <form method="POST", action="/pools/create">
        <div class="form-group">
          <label for="name">Pool name</label>
          <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
          <label for="author">Pool author</label>
          <input type="text" class="form-control" name="author">
        </div>
        <button type="submit" class="btn btn-primary">Create a pool with data {{tx}}</button>
      </form>
      <div id='test'></div>
    </div>
  </div>
</div>
<script>const tx = '{{tx}}'</script>
<!-- <script src="/javascripts/accounts.js"></script>
 -->

// Have some javascript who trigger the button click event
// to do my web3 calls.