<div class="container">
  <h1>Pool of {{pool.name}}</h1>
  <div class="row">
    <p class="card-text">Author : {{pool.author}}</p>
    <p class="card-text">Address : {{pool.address}}</p>
    <p class="card-text">Deployed at : {{pool.date}}</p>
  </div>
</div>